name: Transform

on:
  push:
    branches:
    - main
    
  workflow_dispatch:

jobs:
  execute-script:
    name: execute-script
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Run convert script
        run: ./run.sh
        shell: bash
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: output
          path: output